.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    width: 75%;
    margin-left: 10%;
}



.pagination{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    width: 80%;
    margin-left: 20%;
}


.form{
    width: 80%;
    margin-left: 10%;
}


.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 46.5%;
 }


#footerContent{
      text-align: center;
}
